In [141]:
#standard library load

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn as skl

#https://medium.com/@pushkarmandot/https-medium-com-pushkarmandot-what-is-lightgbm-how-to-implement-it-how-to-fine-tune-the-parameters-60347819b7fc

In [144]:
# Load benchmark data
df = pd.read_csv("Data/application_train.csv")

In [145]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
for i in range(len(df.columns)):
    print (df.columns[i])

TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
OCCUPATION_TYPE
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
FONDKAPREMONT_MODE
HOUSETYPE_MODE
TOTALAREA_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [13]:
df["TARGET"].describe()

count    307511.000000
mean          0.080729
std           0.272419
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: TARGET, dtype: float64

In [148]:
df[df["OWN_CAR_AGE"].isnull()==False]["TARGET"].describe()

count    104582.000000
mean          0.072441
std           0.259218
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: TARGET, dtype: float64

In [149]:
df[df["OWN_CAR_AGE"].isnull()]["TARGET"].describe()

count    202929.000000
mean          0.085000
std           0.278883
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: TARGET, dtype: float64

In [37]:
307511 - 24825

282686

In [39]:
df[df["TARGET"]==1].describe()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,24825.0,24825.000000,2.482500e+04,2.482500e+04,24825.000000,2.480400e+04,24825.000000,24825.000000,24825.000000,24825.000000,...,24825.000000,24825.000000,24825.000000,24825.000000,20533.000000,20533.000000,20533.000000,20533.000000,20533.000000,20533.000000
mean,1.0,0.463807,1.656118e+05,5.577785e+05,26481.744290,4.889724e+05,0.019131,-14884.828077,42394.675448,-4487.127009,...,0.005720,0.000483,0.000524,0.000564,0.006672,0.008036,0.034919,0.227926,0.259923,2.028783
std,0.0,0.756903,7.466770e+05,3.464332e+05,12450.676999,3.116365e+05,0.011905,4192.844583,119484.634253,3299.650241,...,0.075416,0.021981,0.022878,0.023741,0.084926,0.106682,0.203941,0.745116,0.643789,1.934063
min,1.0,0.000000,2.565000e+04,4.500000e+04,2722.500000,4.500000e+04,0.000533,-25168.000000,-16069.000000,-22928.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.0,0.000000,1.125000e+05,2.844000e+05,17361.000000,2.385000e+05,0.009630,-18037.000000,-2156.000000,-6646.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,1.0,0.000000,1.350000e+05,4.975200e+05,25263.000000,4.500000e+05,0.018634,-14282.000000,-1034.000000,-4056.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,1.0,1.000000,2.025000e+05,7.333155e+05,32976.000000,6.750000e+05,0.025164,-11396.000000,-379.000000,-1671.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,1.0,11.000000,1.170000e+08,4.027680e+06,149211.000000,3.600000e+06,0.072508,-7678.000000,365243.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,2.000000,4.000000,6.000000,17.000000,19.000000,22.000000

In [38]:
df[df["TARGET"]==0].describe()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,282686.0,282686.000000,2.826860e+05,2.826860e+05,282674.000000,2.824290e+05,282686.000000,282686.000000,282686.000000,282686.000000,...,282686.000000,282686.000000,282686.000000,282686.000000,245459.000000,245459.000000,245459.000000,245459.000000,245459.000000,245459.000000
mean,0.0,0.412946,1.690777e+05,6.026483e+05,27163.623349,5.427368e+05,0.021021,-16138.176397,65696.146123,-5029.941065,...,0.008341,0.000605,0.000506,0.000315,0.006380,0.006914,0.034315,0.270697,0.265939,1.889199
std,0.0,0.718843,1.104763e+05,4.068459e+05,14658.307178,3.737855e+05,0.013978,4364.200856,142877.810161,3538.464478,...,0.090950,0.024588,0.022486,0.017741,0.083759,0.111091,0.204747,0.928799,0.805355,1.863376
min,0.0,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,-24672.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.000000,1.125000e+05,2.700000e+05,16456.500000,2.385000e+05,0.010006,-19793.750000,-2813.000000,-7550.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.0,0.000000,1.485000e+05,5.177880e+05,24876.000000,4.500000e+05,0.018850,-15877.000000,-1235.000000,-4544.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,0.0,1.000000,2.025000e+05,8.100000e+05,34749.000000,6.885000e+05,0.028663,-12536.000000,-278.000000,-2045.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,0.0,19.000000,1.800009e+07,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [57]:
population = len(df)

In [59]:
fields = len(df.columns)
print(fields)

121

In [30]:
df[df.columns[18:23]].describe()

,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE
count,307511.000000,307511.000000,104582.000000,307511.000000,307511.000000
mean,-4986.120328,-2994.202373,12.061091,0.999997,0.819889
std,3522.886321,1509.450419,11.944812,0.001803,0.384280
min,-24672.000000,-7197.000000,0.000000,0.000000,0.000000
25%,-7479.500000,-4299.000000,5.000000,1.000000,1.000000
50%,-4504.000000,-3254.000000,9.000000,1.000000,1.000000
75%,-2010.000000,-1720.000000,15.000000,1.000000,1.000000
max,0.000000,0.000000,91.000000,1.000000,1.000000

In [128]:
df["COVERAGE_GOODS"]= df["AMT_INCOME_TOTAL"]/df["AMT_GOODS_PRICE"]
df["COVERAGE_ANNUITY"]= df["AMT_INCOME_TOTAL"]/df["AMT_ANNUITY"]
df["COVERAGE_CREDIT"]= df["AMT_INCOME_TOTAL"]/df["AMT_CREDIT"]

In [130]:
print(df["COVERAGE_GOODS"].describe())
print(df["COVERAGE_ANNUITY"].describe())
print(df["COVERAGE_CREDIT"].describe())

count    307233.000000
mean          0.444844
std           0.597722
min           0.011801
25%           0.216667
50%           0.340000
75%           0.543478
max         257.425743
Name: COVERAGE_GOODS, dtype: float64
count    307499.000000
mean          7.352846
std           9.441929
min           0.533059
25%           4.365541
50%           6.141249
75%           8.712181
max        4466.586497
Name: COVERAGE_ANNUITY, dtype: float64
count    307511.000000
mean          0.399670
std           0.507924
min           0.011801
25%           0.193803
50%           0.306272
75%           0.495376
max         208.003328
Name: COVERAGE_CREDIT, dtype: float64

In [150]:
df["OCCUPATION_TYPE"].unique()

array(['Laborers', 'Core staff', 'Accountants', 'Managers', nan, 'Drivers',
       'Sales staff', 'Cleaning staff', 'Cooking staff',
       'Private service staff', 'Medicine staff', 'Security staff',
       'High skill tech staff', 'Waiters/barmen staff',
       'Low-skill Laborers', 'Realty agents', 'Secretaries', 'IT staff',
       'HR staff'], dtype=object)

In [153]:
df["OCCUPATION_TYPE"].isnull().sum()

12

In [167]:
print("information from source 1")
print("no info:",df[df["EXT_SOURCE_1"].isnull()]["TARGET"].sum()/df["EXT_SOURCE_1"].isnull().sum())
print(df[df["EXT_SOURCE_1"].notnull()]["TARGET"].sum()/df["EXT_SOURCE_1"].notnull().sum())
print("Number of unknown:", df["EXT_SOURCE_1"].isnull().sum())
print("")
print("information from source 2")
print("no info:",df[df["EXT_SOURCE_2"].isnull()]["TARGET"].sum()/df["EXT_SOURCE_2"].isnull().sum())
print(df[df["EXT_SOURCE_2"].notnull()]["TARGET"].sum()/df["EXT_SOURCE_2"].notnull().sum())
print("Number of unknown:", df["EXT_SOURCE_2"].isnull().sum())
print("")
print("information from source 3")
print("no info:",df[df["EXT_SOURCE_3"].isnull()]["TARGET"].sum()/df["EXT_SOURCE_3"].isnull().sum())
print(df[df["EXT_SOURCE_3"].notnull()]["TARGET"].sum()/df["EXT_SOURCE_3"].notnull().sum())
print("Number of unknown:", df["EXT_SOURCE_3"].isnull().sum())

information from source 1
no info: 0.0851953535051
0.0749554546607
Number of unknown: 173378

information from source 2
no info: 0.0787878787879
0.0807329941894
Number of unknown: 660

information from source 3
no info: 0.0931190027065
0.0776650199151
Number of unknown: 60965

In [132]:
df_T=df[df["TARGET"]==1]
len(df_T)

24825

In [133]:
df_G=df[df["TARGET"]==0]
len(df_G)

282686

In [122]:
print(df["AMT_INCOME_TOTAL"].mean())
print(df["AMT_INCOME_TOTAL"].std())

168797.9192969845
237123.14627883647

In [123]:
print(df_G["AMT_INCOME_TOTAL"].mean())
print(df_G["AMT_INCOME_TOTAL"].std())

169077.7222658179
110476.268523735

In [117]:
print(df_T["AMT_INCOME_TOTAL"].mean())
print(df_T["AMT_INCOME_TOTAL"].std())

165611.76090634443
746676.959440119

In [124]:
print(df["AMT_CREDIT"].mean())
print(df["AMT_CREDIT"].std())

599025.9997057016
402490.776995946

In [125]:
print(df_G["AMT_CREDIT"].mean())
print(df_G["AMT_CREDIT"].std())

602648.2820019386
406845.9077103281

In [118]:
print(df_T["AMT_CREDIT"].mean())
print(df_T["AMT_CREDIT"].std())

557778.527673716
346433.235646112

In [111]:
print(df["AMT_ANNUITY"].mean())
print(df["AMT_ANNUITY"].std())

27108.573909183444
14493.737315117392

In [126]:
print(df_G["AMT_ANNUITY"].mean())
print(df_G["AMT_ANNUITY"].std())

27163.62334880463
14658.307177611694

In [119]:
print(df_T["AMT_ANNUITY"].mean())
print(df_T["AMT_ANNUITY"].std())

26481.744290030212
12450.676999458748

In [112]:
print(df["AMT_GOODS_PRICE"].mean())
print(df["AMT_GOODS_PRICE"].std())

538396.2074288895
369446.4605400129

In [127]:
print(df_G["AMT_GOODS_PRICE"].mean())
print(df_G["AMT_GOODS_PRICE"].std())

542736.7950033459
373785.4935334471

In [120]:
print(df_T["AMT_GOODS_PRICE"].mean())
print(df_T["AMT_GOODS_PRICE"].std())

488972.4125544267
311636.495296691

In [134]:
print("Income covering goods")
print(df_G["COVERAGE_GOODS"].describe())
print(df_T["COVERAGE_GOODS"].describe())
print(" ")
print("Income covering annuity")
print(df_G["COVERAGE_ANNUITY"].describe())
print(df_T["COVERAGE_ANNUITY"].describe())
print(" ")
print("Income covering credit")
print(df_G["COVERAGE_CREDIT"].describe())
print(df_T["COVERAGE_CREDIT"].describe())

Income covering goods
count    282429.000000
mean          0.444106
std           0.379323
min           0.022727
25%           0.214286
50%           0.339869
75%           0.544554
max          26.666800
Name: COVERAGE_GOODS, dtype: float64
count    24804.000000
mean         0.453244
std          1.669430
min          0.011801
25%          0.233333
50%          0.350000
75%          0.533333
max        257.425743
Name: COVERAGE_GOODS, dtype: float64

Income covering annuity
count    282674.000000
mean          7.363890
std           4.982781
min           0.636699
25%           4.377645
50%           6.162189
75%           8.760951
max         300.000000
Name: COVERAGE_ANNUITY, dtype: float64
count    24825.000000
mean         7.227099
std         28.663139
min          0.533059
25%          4.280089
50%          5.906880
75%          8.333333
max       4466.586497
Name: COVERAGE_ANNUITY, dtype: float64

Income covering credit
count    282686.000000
mean          0.399943
std           0.345772
min           0.020314
25%           0.192629
50%           0.306124
75%           0.499917
max          26.666800
Name: COVERAGE_CREDIT, dtype: float64
count    24825.000000
mean         0.396556
std          1.354381
min          0.011801
25%          0.200334
50%          0.307395
75%          0.469388
max        208.003328
Name: COVERAGE_CREDIT, dtype: float64

In [103]:
df[df["NAME_TYPE_SUITE"].isnull()]

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100076,0,Cash loans,M,Y,N,0,180000.0,315000.0,9679.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100837,0,Revolving loans,F,N,Y,2,45000.0,135000.0,6750.0,NaN,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
101414,0,Cash loans,M,Y,N,0,135000.0,533668.5,34636.5,477000.0,...,0,0,0,0,0.0,0.0,0.0,4.0,0.0,0.0
101954,0,Cash loans,F,Y,N,2,153000.0,1162170.0,30654.0,832500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
102183,0,Cash loans,F,Y,N,0,121500.0,268659.0,13774.5,243000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
102661,0,Cash loans,F,N,N,0,225000.0,1890000.0,49986.0,1890000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
103065,0,Cash loans,F,N,Y,1,112500.0,593010.0,16434.0,495000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
103093,0,Cash loans,M,Y,N,0,360000.0,728460.0,37134.0,675000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
103519,0,Cash loans,F,Y,N,0,135000.0,675000.0,17806.5,675000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
103560,0,Cash loans,F,N,N,2,225000.0,1506816.0,45814.5,1350000.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
103938,0,Cash loans,F,N,N,1,1350000.0,2410380.0,109053.0,2250000.0,...,1,0,0,0,0.0,0.0,0.0,3.0,0.0,0.0
104339,0,Cash loans,F,N,N,0,225000.0,675000.0,20596.5,675000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
104754,0,Cash loans,M,Y,N,2,112500.0,373311.0,13963.5,283500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
104904,0,Cash loans,F,N,Y,0,157500.0,585000.0,16218.0,585000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
104962,0,Cash loans,F,N,N,0,90000.0,327024.0,10575.0,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,3.0
105076,0,Cash loans,F,Y,N,0,315000.0,1762110.0,48586.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
105177,0,Cash loans,M,Y,Y,1,195750.0,225000.0,14764.5,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
105460,0,Cash loans,F,Y,N,0,135000.0,755190.0,28116.0,675000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
105551,0,Cash loans,F,N,Y,0,166500.0,239850.0,22540.5,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
105701,0,Cash loans,M,Y,N,0,225000.0,1078200.0,29781.0,900000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
106200,0,Cash loans,F,N,Y,0,117000.0,781920.0,23836.5,675000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
106766,0,Cash loans,M,Y,N,0,270000.0,1350000.0,35743.5,1350000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
106785,0,Cash loans,F,N,N,1,157500.0,808650.0,23305.5,675000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
106955,0,Revolving loans,F,N,N,0,157500.0,450000.0,22500.0,NaN,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
107494,0,Revolving loans,F,N,N,0,67500.0,202500.0,10125.0,NaN,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
107611,0,Cash loans,F,Y,N,0,112500.0,239850.0,22554.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
107812,0,Cash loans,F,Y,Y,0,612000.0,882000.0,26869.5,882000.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
107822,0,Revolving loans,F,N,N,1,121500.0,180000.0,9000.0,NaN,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
108127,0,Cash loans,M,Y,N,2,112500.0,500211.0,25537.5,463500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
108174,0,Cash loans,F,Y,N,1,180000.0,753840.0,20016.0,540000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450915,0,Cash loans,M,N,N,0,135000.0,720000.0,46683.0,720000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
450959,0,Revolving loans,F,N,Y,0,126000.0,337500.0,16875.0,NaN,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
451093,1,Cash loans,F,N,N,0,112500.0,542133.0,17442.0,468000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
451233,0,Cash loans,F,N,Y,0,135000.0,781920.0,23836.5,675000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
451266,0,Cash loans,M,N,N,0,148500.0,1381113.0,36562.5,1206000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
451343,0,Cash loans,M,Y,N,1,360000.0,1206000.0,31810.5,1206000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
451760,0,Revolving loans,F,N,Y,0,135000.0,135000.0,6750.0,NaN,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
451781,0,Revolving loans,F,N,Y,0,112500.0,180000.0,9000.0,NaN,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
452445,0,Cash loans,F,N,Y,2,175500.0,854352.0,22666.5,612000.0,...,0,0,0,0,0.0,0.0,0.0,3.0,0.0,1.0
452528,0,Cash loans,M,Y,N,0,115546.5,423000.0,12253.5,423000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
452740,0,Cash loans,F,Y,N,0,202500.0,999886.5,50922.0,945000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
452863,0,Cash loans,F,Y,N,0,360000.0,1649646.0,47407.5,1377000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
452926,0,Revolving loans,F,N,Y,0,90000.0,247500.0,12375.0,NaN,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,3.0
452992,0,Revolving loans,F,N,Y,2,67500.0,202500.0,10125.0,NaN,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
453006,0,Cash loans,M,Y,N,2,225000.0,1130760.0,29956.5,810000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
453065,0,Cash loans,M,Y,N,0,180000.0,254700.0,24192.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
453120,0,Revolving loans,M,N,Y,1,112500.0,270000.0,13500.0,NaN,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
453340,1,Cash loans,F,N,N,0,202500.0,1381113.0,38110.5,1206000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
453543,0,Cash loans,F,N,Y,0,202500.0,584014.5,25852.5,522000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
454341,0,Revolving loans,F,N,Y,0,126000.0,270000.0,13500.0,NaN,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
454373,0,Cash loans,F,N,N,0,157500.0,625536.0,19093.5,540000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,9.0
454587,0,Cash loans,M,N,N,2,180000.0,900000.0,41836.5,900000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
454623,0,Cash loans,F,N,N,0,157500.0,1264428.0,33484.5,990000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
454683,0,Revolving loans,M,N,Y,0,135000.0,270000.0,13500.0,NaN,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
454688,0,Cash loans,M,N,N,0,157500.0,225000.0,6448.5,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
454852,0,Revolving loans,M,N,Y,2,67500.0,202500.0,10125.0,NaN,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
455158,0,Cash loans,F,N,N,0,180000.0,894825.0,23602.5,894825.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
455245,0,Cash loans,M,N,N,0,180000.0,225000.0,8469.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
455270,0,Cash loans,M,Y,N,2,189000.0,677664.0,21406.5,585000.0,...,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0
455367,0,Cash loans,F,N,Y,0,202500.0,755190.0,27985.5,675000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [70]:
print(population - len(df[df["NAME_CONTRACT_TYPE"]=="Cash loans"]))
print(len(df[df["NAME_CONTRACT_TYPE"]=="Revolving loans"]))

29279
29279

In [96]:
label = 'Other_B'

In [97]:
df[df["NAME_TYPE_SUITE"]==label]["TARGET"].sum()/len(df[df["NAME_TYPE_SUITE"]==label])

0.09830508474576272

In [73]:
df[df["NAME_CONTRACT_TYPE"]=="Revolving loans"]["TARGET"].sum()/len(df[df["NAME_CONTRACT_TYPE"]=="Revolving loans"])

0.05478329177909082

In [74]:
df[df["NAME_CONTRACT_TYPE"]=="Cash loans"]["TARGET"].sum()/len(df[df["NAME_CONTRACT_TYPE"]=="Cash loans"])

0.08345912763449208

In [79]:
df[df["FLAG_OWN_REALTY"]=="Y"]["TARGET"].describe()

count    213312.000000
mean          0.079616
std           0.270698
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: TARGET, dtype: float64

In [80]:
df[df["FLAG_OWN_REALTY"]=="N"]["TARGET"].describe()

count    94199.000000
mean         0.083249
std          0.276260
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: TARGET, dtype: float64

In [62]:
df.columns[1]

'NAME_CONTRACT_TYPE'

In [63]:
for i in range(fields):
    print(df.columns[i])

TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
OCCUPATION_TYPE
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
FONDKAPREMONT_MODE
HOUSETYPE_MODE
TOTALAREA_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [135]:
categories= ["NAME_CONTRACT_TYPE","CODE_GENDER","FLAG_OWN_CAR",
             "FLAG_OWN_REALTY","NAME_INCOME_TYPE","NAME_EDUCATION_TYPE",
             "NAME_FAMILY_STATUS","NAME_HOUSING_TYPE", "NAME_TYPE_SUITE"]

In [138]:
df_noInfo = df[df["APARTMENTS_AVG"].isnull()]

In [140]:
df.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,COVERAGE_GOODS,COVERAGE_ANNUITY,COVERAGE_CREDIT
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0.0,0.0,0.0,0.0,0.0,1.0,0.576923,8.198215,0.498036
100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.239044,7.563343,0.208736
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.500000,10.000000,0.500000
100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.454545,4.547522,0.431748
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.236842,5.556699,0.236842

In [139]:
df_noInfo.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,COVERAGE_GOODS,COVERAGE_ANNUITY,COVERAGE_CREDIT
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.500000,10.000000,0.500000
100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.454545,4.547522,0.431748
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.236842,5.556699,0.236842
100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,454500.0,...,0,0.0,0.0,0.0,0.0,1.0,1.0,0.217822,3.597711,0.201837
100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,1395000.0,...,0,0.0,0.0,0.0,1.0,1.0,2.0,0.122581,4.140336,0.109564